<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBatchDojoApplicationUnitTest" type="JUnit" factoryName="JUnit">
    <module name="spring-batch-dojo" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="hu.vidragabor.springbatchdojo.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <option name="PACKAGE_NAME" value="hu.vidragabor.springbatchdojo" />
    <option name="MAIN_CLASS_NAME" value="hu.vidragabor.springbatchdojo.SpringBatchDojoApplicationUnitTest" />
    <option name="METHOD_NAME" value="" />
    <option name="TEST_OBJECT" value="class" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>